*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a, h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 110px;
  font-weight: 700;
  color: #363838;
}
h2{
  font-size: 60px;
  font-weight: 700;
  color: #363838;
}
h3{
  font-size: 36px;
  font-weight: 700;
  color: #363838;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.container{
  max-width: 1120px;
  margin: 0 auto;
}


._margin-right-80{
  margin-right: 80px;
}
._margin-right-60{
margin-right: 60px;
}
._margin-bottom-130{
  margin-bottom: 130px;
}